<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="script.js"></script>
</head>
<body data-ng-controller="testController">
  <label for="country">sbjAkt</label>
  <select id="country" ng-model="sbjAktSrc" ng-options="country for (country, states) in sbjAkts" ng-change="GetSelectedCountry()">
    <option value=''>Select</option>
  </select>
  <label for="state">level</label>
  <select id="state" ng-disabled="!sbjAktSrc" ng-model="levelSrc" ng-options="state for (state,city) in sbjAktSrc" ng-change="GetSelectedState()">
    <option value=''>Select</option>
  </select>
  <label for="city">lesson</label>
  <select id="city" ng-disabled="!sbjAktSrc || !levelSrc" ng-model="city" ng-options="city for city in levelSrc">
    <option value=''>Select</option>
  </select>
  <script>
    angular.module('myApp', []).run(function($rootScope){$rootScope.title = 'myTest Page';}).controller('testController', ['$scope', function($scope){
        $scope.sbjAkts = {
            'python': {'level1': ['builtin functions', 'list'],'level2': ['tuple', 'dictionary'],'level3': ['sets', 'dictionary']},
            'knARa': { 'level1': ['numbers', 'pronouns', 'kolors', 'motions'], 'level2': ['vegetables', 'kitchen'], 'level3': ['', '', ''] },
            'Angulrjs': { 'level1': ['Sydney'], 'level2': ['Melbourne'] }
        };
        $scope.GetSelectedCountry = function() { $scope.strCountry = $scope.sbjAktSrc; };
        $scope.GetSelectedState = function() { $scope.strState = $scope.levelSrc; };
    }])
  </script>
</body>
</html>